@import './normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
  font-family: 'Roboto';
  color: white;
  font-weight: 400;
}

body {
  background-color: black;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
  font-weight: 500;
}
